*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30vh;
    background-color: black;
}

#imagem{
    width: 50vw;
    height: 40vh;
    position: absolute;
    top: 20px;
}

#caixa{
    width: 50vw;
    height: 40vh;
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}